/* #grid-container { display: grid; grid-template-columns: auto auto; } */


*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    display: block;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100vh;
    width: 100%;
}

section{
    border: 3px solid black;
}


#colorPicker{
    width: 30%;
    background-color: grey;
}

.grid-container {
  display: grid;
  grid-gap: 5px;
  background-color: #fff;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: grey;


}

.cell {
  border: 2px solid black;
  width: 30%;
  height: 21.5vh;
  display: inline-block;
  margin: 2px;
  margin-left: 10px;
}

.button{
    /* grid-template-columns: 3fr ; */
    grid-column: 1 / span 3;
    height: 60px;
    text-align: center;
    background-color: lightgrey;
     border-radius: 25px;
     border:  1px solid black;
     margin-top: 10px;
     margin-bottom: 10px;

}


#drawingArea{
    width: 70%;
    display: inline-block;
    grid-gap: 1px;
    background-color: #fff;
    grid-template-rows: repeat(24, 1fr);
    grid-template-columns: repeat(60, 1fr);
    height: 100vh;
    box-sizing: border-box;

}

.drawingCells{
    border: 2px solid darkgrey;
    width: 2.5%;
    height: 20px;
    display: inline-block;
    background-color: white;

}
