*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100vh;
    width: 100%;
}

section{
    border: 3px solid black;
}


#colorPicker{
    width: 30%;
     background-color: grey;
}

.grid-container {
  display: inline-grid;
  grid-gap: 5px;
  background-color: #fff;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: grey;

}

.button{
    /* grid-template-columns: 3fr ; */
    grid-column: 1 / span 3;
    height: 60px;
    text-align: center;
    background-color: lightgrey;
     border-radius: 25px;
     border:  1px solid black;
     margin-top: 10px;
     margin-bottom: 10px;

}

.grid-item {
  padding: 5px;
  text-align: center;
  border: 1px solid grey;
}

#drawingArea{
    width: 70%;
}

.
